/**
 * code.scss
 * codepen.io embed theme
 * Author: Justin Perry <just.perry@gmail.com>
 * Adapted from https://github.com/chriskempson/tomorrow-theme
 */

code{
  background: lighten($colour-charlie, 60%);
  border-radius: rems(4);
  font-family: Monaco, 'Andale Mono', 'Lucida Console', 'Courier New', monospace;
  font-size: 89%;
  padding: rems(3) rems(7);
}

.highlighted{
  background: #222;
  color: #fff; 
  overflow: auto;
  margin-bottom: rems(32);
  padding: rems(8) rems(16);
  white-space: pre;

  .comment, .title {
    color: #777;
  }

  .variable, .attribute, .tag, .regexp, .ruby .constant, .xml .tag .title, .xml .pi, .xml .doctype, .html .doctype{
    color: #ab875d;
  }
  .css .value{
    color: #cd6a51;
  }
  .css .value .function,
  .css .value .string,{
    color: #a67f59;
  }
  .css .value .number{
    color: #9b869c;
  }
  .css .id, .css .class, .css-pseudo, .css .selector, .css .tag{
    color: #dfc48c;
  }

  .number, .rocessor, .built_in, .literal, .params, .constant {
    color: #ab875d;
  }

  .ruby .class .title, .css .rules .attribute {
    color: #9B869B;
  }

  .string, .value, .inheritance, .header, .ruby .symbol, .xml .cdata {
    color: #8f9c6c;
  }

  .css .hexcolor {
    color: #cd6a51;
  }

  .function, .python .decorator, .python .title, .ruby .function .title, .ruby .title .keyword, .perl .sub, .javascript .title, .coffeescript .title {
    color: #fff;
  }

  .keyword, .javascript .function {
    color: #8f9c6c;
  }
  
  code{
    background: transparent;
    padding: 0;
  }
  code.coffeescript .javascript,
  code.javascript,
  code.javascript .xml,
  code.tex .formula,
  code.xml .javascript,
  code.xml .vbscript,
  code.xml .css,
  code.xml .cdata {
    background: transparent;
    opacity: 1;
  }
}