*{
	@include box-sizing(border-box);
}
html, 
body{
	font-family: 'Source Sans Pro', serif;
}
html{
	padding: 0 5% rems(50);
}
body{
	background-color: #fff;
	color: $colour-charlie;
	line-height: 1.6;
	margin: 0 auto;
	max-width: rems($default-width);
}
img{
	height: auto;
	max-width: 100%;
}