/**
 * Headers
 * Description: Header modules
 * Author: Justin Perry <just.perry@gmail.com>
 */

 %triangle-base{
 	border-style: solid;
	content: '';
	height: 0px;
	position: absolute;
	top: 100%;
	width: 0px;
	z-index: -1;
 }
.header--primary{
	margin-top: rems(24);
	
	.header__title{
		line-height: 0;
		text-align: right;
		margin-bottom: rems(4);

		a:active,
		a:hover,
		a:link,
		a:visited{
			color: $colour-alpha;
			text-decoration: none;
		}
		
		@include mq(medium){
			margin-bottom: rems(8);
		};
	}	
		.header__title__wrap{
			padding: rems(20) rems(9) rems(9);
			background-color: $colour-charlie;
			display: block;
			line-height: 1;
			margin-bottom: rems(4);
			margin-left: rems(-100);
			padding-left: rems(100);
			position: relative;

			@include mq(medium){
				margin-left: rems(-2000);
				padding-left: rems(2000);
			};
		}
		.header__strapline{
			background-color: $colour-charlie;
			color: #fff;
			display: inline-block;
			font-size: rems(22);
			line-height: 1;
			padding: rems(2) rems(9) rems(2) rems(20);
			position: relative;
			
			&:after{
				@extend %triangle-base;
				border-width: rems(10) rems(15) 0 0;
				border-color: lighten($colour-charlie, 40%) transparent transparent transparent;
				right: 0;
			}
		}
}

.date{
	background: $colour-charlie;
	color: white;
	display: inline-block;
	font-size: rems(16);
	line-height: 1.3;
	margin: 0 0 rems(30) rems(-16);
	padding: 0 rems(3);
	padding-left: rems(16);
	position: relative;

	&:before{
		@extend %triangle-base;
		border-width: 0 rems(15) rems(10) 0;
		border-color: transparent lighten($colour-charlie, 40%) transparent transparent;
		left: 0;
	}
}