/**
 * Media elements
 * Description: Images, video and other media elements
 * Author: Justin Perry <just.perry@gmail.com>
 */
.media{
	display: block;
	margin: 0 auto rems(25);
}
.media--left{
	@include mq(medium){
		float: left;
		margin-right: rems(25);
	};
}
.media--right{
	@include mq(medium){
		float: right;
		margin-left: rems(25);
	}
}
.media--center{
	@include mq(medium){
		display: block;
		margin: 0 auto rems(20);
	}
}