.footer--primary{
	.footer__wrap{
		background: $colour-charlie;
		color: $colour-alpha;
		display: inline-block;
		font-size: rems(14);
		line-height: 1;
		padding: rems(3) rems(16) rems(3) rems(2000);
		margin-left: rems(-2000);
	}
	.footer__items{
		line-height: 1;
	}
		.footer__item{
			color: $colour-alpha;
			margin-right: rems(5);
			text-decoration: none;

			&:before{
				content: '/';
				margin-right: rems(5);
			}
		}
}

.nav{

}

// Primary navigation
.nav--primary{
	margin: rems(16) 0;
	padding: 0;

	@include mq(wide){
		margin: 0;
		padding: rems(24) rems(10) 0 rems(32);
	};
		
	.nav__items{
		display: inline;
		font-size: 0;
		list-style: none;
		padding: 0;
	}
		.nav__item{
			line-height: 1;
			display: inline-block;
			margin-right: rems(9);

				&:before{
					content: '/';
					color: $colour-alpha;
					display: inline-block;
					font-size: rems(21);
					margin-right: rems(2);
					opacity: 1;
					@include transform(translateZ(0, 0, 0));
					@include single-transition(all, .3s, ease-in-out, 0);
				}

			@include mq(narrow-min){
				&:before{
					font-size: rems(27);
					margin-right: rems(5);
				}
			};

			@include mq(medium){
				margin-right: rems(10);

			}

			@include mq(wide){
				line-height: 1;
				margin-right: 0;
				width: 100%;

				&:before{
					opacity: 0;
					margin-left: rems(-20);
					@include transform(translateZ(0, -100%, 0));
				}

				&:last-child:before{
					margin-right: rems(8);
				}
			}
		}
			.nav__item__label{
				color: $colour-alpha;
				font-size: rems(30);
				line-height: 1.3;
				letter-spacing: rems(-1);
				opacity: 1;
				text-decoration: none;
				text-transform: uppercase;
				word-spacing: -2px;
				@include single-transition(opacity, .3s, ease-in-out, 0);

				&:hover{
					opacity: .6;
				}

				@include mq(narrow-max){
					font-size: rems(23);
				};
				@include mq(medium){
					font-size: rems(30);
				};
				@include mq(wide){
					line-height: 1.27;
				};

				.alt{
					font-weight: bold;
				}
			}
}


// Back to top links
.nav--btt{
	text-align: right;
	.nav__item{
		background-color: $colour-charlie;
		color: $colour-alpha;
		font-size: rems(14);
		line-height: 1;
		padding: 0 rems(5) 0 rems(16);
		text-decoration: none;
	}
}