/**
 * Typography
 * Author: Justin Perry <just.perry@gmail.com>
 */

/**
 * Font declarations
 * Using Google Web Fonts
 */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500);

/**
 * Global typography styles
 */
body{
	font-family: 'Ubuntu', Arial, Tahoma, sans-serif;
}
h1, h2, h3, h4, h5, h6{
	color: $colour-alpha;
	font-weight: 400;
	line-height: 1.2;
}
h1, h2, h3, h4, h5, h6, p, ol, ul, dl{
	margin-bottom: rems(32);
	margin-top: 0;
}
h1{
	font-size: rems(36);
}
h2{
	font-size: rems(32);
}
h3{
	font-size: rems(28);
}
h4{
	font-size: rems(24);
}
h5{
	font-size: rems(20);
}
h6{
	font-size: rems(18);
}
h2{
	color: $colour-alpha;
}
ul, ol{
	padding-left: rems(20);

	@include mq(medium){
		padding-left: rems(32);
	};
}
p, li, dt, dd{
	font-size: rems(15);
	line-height: 2;
	font-weight: 300;
}
blockquote{
	margin-left: 0;
	p{
		background-color: $colour-charlie;
		@include box-shadow(-16px 0 0 $colour-charlie);
		color: $colour-alpha;
		display: inline;
		font-size: rems(24);
		line-height: 1.2;
		padding-right: rems(10);
	}
}
a:link,
a:active{
	color: $colour-alpha;
}
a:hover{
	color: $colour-alpha;
}
a:visited{
	color: lighten(desaturate($colour-alpha, 60%),20%);
}