/**
 * Mixins
 * Description: Custom mixins
 * Author: Justin Perry <just.perry@gmail.com> AKA @ourmaninamsterdam
 */

 /**
 * grid-span()
 * $colspan Number of cols to span
 * $flushed Outputs grid without gutters
 * Dependencies: @rems()
 */
@mixin grid-span( $colspan, $fixed: false, $constrain: true ){
	$col-width: $grid-col-width * $colspan / $grid-width * 100%;
	@if $fixed == true{
		$col-width: 100%;
		max-width: rems( $grid-col-width * $colspan );
	}
	@else{
		@if $constrain == true{
			max-width: rems( $grid-col-width * $colspan );
		}
	}
	float: left;
	width: $col-width;
}

/**
 * clearfix()
 * Clears floated child elements when applied to parent
 */
@mixin clearfix() {
    *zoom:1;
    &:before,
    &:after{
        content:' ';
        display:table;
    }
    &:after{ clear:both; }
}

/**
 * mq()
 * Includes modular media queries based on named value
 * $name Name of media query to use
 * $included Includes content for devices that don't support media queries
 * Dependencies: get-item-by-name();
 * https://github.com/ourmaninamsterdam/sass-mediaqueries
 */
@mixin mq( $name, $include: false ){
	$media-query : get-item-by-name( $name, $media-query-ids, $media-queries );
    @if $supports-mq {
        @media #{ $media-query } { @content; };
    }
    @else {
        @if $include and $name == $default-view {
            @content;
        }
    }
}

/**
 * pulled-content-shadow()
 * Pulled content
 */ 
@mixin pulled-content-shadow {
	$width: 340;
 	@include box-shadow( rems(-$width) 0 0 rgba($colour-charlie,1), rems(-$width*2) 0 0 rgba($colour-charlie,1), rems(-$width*3) 0 0 rgba($colour-charlie,1) );
}

/**
 * rems()
 * Converts passed parameters to REM units based on default font size
 * $size Default font size to convert to rems
 */
@function rems( $size: $default-font-size ) {
 	@return $size / $default-font-size * 1rem;
}

/** @get-item-by-name
 * Get an item from a list
 * $name (string) Target item ID
 * $names-list (array) List of item IDs
 * $items (array) List of linked items
 */
@function get-item-by-name( $name, $names-list, $items ){
	@return #{ nth( $items, index( $names-list, $name ) ) };
}
