/**
 * Default configuration
 * Author: Justin Perry <just.perry@gmail.com>
 */

// Default
$default-width: 856;
$default-font-size: 16;

// Grid
$grid-cols: 12;
$grid-width: $default-width;
$grid-col-width: $grid-width / $grid-cols;

// Media queries
$media-query-ids: narrow-min, narrow-max, medium, wide, superwide, retina;
$media-queries: "only screen and (min-width: #{rems(400)})",
				"only screen and (max-width: #{rems(400)})",
				"only screen and (min-width: #{rems(600)})",
				"only screen and (min-width: #{rems(944)})",
				"only screen and (min-width: #{rems(1280)})",
				"only screen and (-webkit-min-device-pixel-ratio: 2) only screen and (min--moz-device-pixel-ratio: 2),only screen and (-o-min-device-pixel-ratio: 2/1),only screen and (min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (min-resolution: 2dppx)";