/**
 * global.scss
 * Description: Global layout styles
 * Author: Justin Perry <just.perry@gmail.com>
 */

// Page container
.container--primary{
	@include clearfix();
}

// Main body content
%content{}

	.content--primary{
		@extend %content;
		margin-bottom: rems(32);
		
		@include mq(medium){
			@include grid-span(9, true);
			margin-bottom: rems(64);
		}
	}
	.content--alt{
		display: none;
	}

%header{}

	.header--primary{
		@include clearfix();

		.header__title{
			@include mq(medium){
				@include grid-span(10, true);
			};
			@include mq(wide){
				@include grid-span(9);
				@include transform( translate3d(0,0,0));
			}
		}
	}

.nav--primary{
	clear: both;
	width: 100%;

	@include mq(wide){
		clear: none;
		@include grid-span(3);
	}
}

// Footers
%footer{}

	.footer--primary{
		@extend %footer;
		@include clearfix();
		clear: both;
		margin: rems(32) 0;
	}


%nav{

}
	.nav--side{

	}