/**
 * Themes
 * Description: Main theme
 * Author: Justin Perry <just.perry@gmail.com>
 */

// # Theme 1
// Background: White background
// Foreground: Dark grey text
// Core colours: Yellow and Purple

// # Colours 
// $colour-alpha: Golden Yellow
// $colour-beta: Purple
// $colour-charlie: Darkish grey. Used for default body copy
$colour-alpha: #e5c40d;
$colour-beta: darken(complement($colour-alpha),10%);
$colour-charlie: #3F3F3F;